<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/result.css">
    <title>Result of Prediction</title>
</head>

<body>
    <div class="circle"></div>
    <div class="content">
        <div class="textBox">
            <h1 id="mesg">“Time and health are two precious assets that we don’t recognize and appreciate until they have been depleted.”</h1><br>
            <h2>You have <b>Diabetes</b></h2><br>
            <h2><b>Predicted Type : </b> {{ type }} </h2><br>
            <h2>We are sorry<i class="fa-solid fa-thumbs-up"></i></h2>
            <a href="">Know about cause of Diabetes</a>
        </div>
        <div class="imgBox">
            <img src="static/img/bad.svg" alt="eligible">
        </div>
    </div>


</body>

</html>